# Landing Lens Inference Environment Variables

# Landing AI Image
LANDING_IMAGE=public.ecr.aws/landing-ai/deploy:latest

CONTAINER_NAME=ll_inference

# ---- For Local Model ----
LOCAL_MODEL_ID=Your_Model_Id
MODEL_VOLUME_PATH=Your_Path_to_Model

# Network Configuration
NETWORK_MODE=bridge
PORT=8000

# Warning: upload result if UPLOAD_RESULTS environment variable exists
# regardless of whether the value is true or false
# I'm using this approach to workaround that issue
# ADDITIONAL_ARGS="--upload"
# Examples:
# ADDITIONAL_ARGS="--upload --gpus all"
