VITE_API_URL=https://your-api-gateway-url
VITE_API_KEY=your-api-key

VITE_COGNITO_CLIENT_ID=your-cognito-app-client-id
VITE_COGNITO_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=your-cognito-user-pool-id
